.Wizard-steps-title {
    margin-left: 10px;
    cursor: pointer;
}

.Wizard-section {
    margin-bottom: 20px;
}

.Wizard-section-title {
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
}